@import "tailwindcss";

.root {
  isolation: isolate;
}

:root {
  --background: #222222;
  --foreground: #faf3e1;
  --accent: #ff6d1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  position: relative;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}
